html{
  background-color: rgb(0, 26, 75);
  color: white;
}

#body{
  padding: 5%;
  background-color: rgb(0, 26, 75);
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 300;
}

html a{
  color: #AF8C3E;
}

#menu a{
  margin-left: 20px;
}

#menu{
  margin-right: 30%;
}

.card{
  color: black;
}