{% extends 'fcos_pages/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<h2>Your Events:</h2>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h3 class="card-title">{{ prediction1_risetime }}</h3>
    <p class="card-text">Temperature: {{ weather_forecast1_temp }} <sup>o</sup>C</p>
    <p class="card-text">Clouds: {{ weather_forecast1_clouds }} %</p>
  </div>
</div>
<h3>{{ prediction2_risetime }}</h3>
<p>Temperature: {{ weather_forecast2_temp }} <sup>o</sup>C</p>
<p>Clouds: {{ weather_forecast2_clouds }} %</p>
<h3>{{ prediction3_risetime }}</h3>
<p>Temperature: {{ weather_forecast3_temp }} <sup>o</sup>C</p>
<p>Clouds: {{ weather_forecast3_clouds }} %</p>

{% endblock %}